<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title | default('热点新闻分析') }}</title>
    {% block head_extra %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}
    <style>
{{ report_css | safe }}
    </style>
</head>
<body>
{% block body %}{% endblock %}
{% block scripts %}
    <script>
{{ report_js | safe }}
    </script>
{% endblock %}
</body>
</html>
